 body{
    background-color: rgb(255, 255, 255);
 }
 .mainimage{
 margin-left: 150px;
 }
 .title{
   display: flex;
   align-content: center;
   margin-top: -37px;
   margin-left: 500px;
   
 }
 .title li{
   list-style: none;
   font-style: none;
   
 }.title li a{
   list-style: none;
   font-style: none;
   text-decoration: none;
   color: brown;
 }
 .bro{
   margin-left: 1200px;
   margin-top: -32px;
   justify-content: space-evenly;
 }
 .maintext{
   font-size: 200px;
   font-family: 'playfair display',sarif;
   font-weight: 30;
   transform: translate(0%,0%);
   margin-left: 70px;
   margin-top: -260px;
   overflow: hidden;
   color: brown;

 }
 .pot{
  margin-left: 130px;
   overflow: visible;
 }
 .babytext{
   color: brown;
  margin-top: -720px;
  margin-left: 850px;
 }
 .catalog{
   font-size: 30px;
   height: 150px;
   width: 35px;
   background-color: brown;
   border-radius: 9px;
   text-decoration: none;
    color: rgb(254, 254, 254);
    margin-left: 850px;
 }
 .cataog{
   font-size: 30px;
   height: 150px;
   width: 35px;
   background-color: brown;
   border-radius: 9px;
   text-decoration: none;
    color: rgb(254, 254, 254);  
 }
 /*end of section 1*/
 .secondpage{
  background-color:rgb(255, 255, 255);
 }
 .about{
   margin-top: 490px;
   color:brown;
   font-size: 12px;
 }
 .line1{
  margin-top: -25px;
width: 680px;
 color: rgb(220, 107, 62);
 }
 .linetext{
   margin-top: -5px;
   margin-left:370px ;
    font-size: 20px;
    color: rgb(220, 107, 62);
 }
 .firsth3{
   margin-left:720px ;
    font-size: 15px;
    color: rgb(220, 107, 62);
    margin-top: -61px;
 }
  .line2{
  margin-top: 0px;
width: 680px;
 color: rgb(220, 107, 62);
}
 .linetext2{
   margin-top: -5px;
   margin-left:370px ;
    font-size: 20px;
    color: rgb(220, 107, 62);
 }
 .firsth32{
   margin-left:720px ;
    font-size: 15px;
    color: rgb(220, 107, 62);
    margin-top: -61px;
 }
   .line3{
  margin-top: 0px;
width: 680px;
background-color: rgb(220, 107, 62) ;
}
 .linetext3{
   margin-top: -5px;
   margin-left:370px ;
    font-size: 20px;
    color: rgb(220, 107, 62);
 }
 .firsth33{
   margin-left:720px ;
    font-size: 15px;
    color: rgb(220, 107, 62);
    margin-top: -61px;
 }
 .line4{
  margin-top: 0px;
width: 680px;
background-color: rgb(220, 107, 62);
}

.pot2 {
   display:flex;
   margin-top: -30px;
}
.pot3 {
   display:flex;
   margin-top: -260px;
margin-left: 725px;
}
.pot4{
   display:flex;
   margin-top: -380px;
margin-left: 1069px;
}
/*end of section 2*/
.abc{
   display: flex;
  justify-content: center;

}
.popular{
  display: flex;
   margin-top: 200px;
  margin-left: -76px;
   font-size: 12px;
   color: brown;
}
.view{
 display: flex;
   margin-top: 194px;
   margin-left: 1150px;
   color: brown;
}
.img1{
   display: flex;
margin-left: 30px;
margin-top: -30px;
}
.img2{
    display: flex;
margin-left: 685px;
margin-top:  -410px;
}
.img3{
   display: flex;
margin-left: 60px;
margin-top: 90px;
}
.img4{
    display: flex;
margin-left: 710px;
margin-top:  -535px;
}
.img5{
    display: flex;
margin-left: 960px;
margin-top:  -300px;
}
.img6{
    display: flex;
margin-left: 960px;
margin-top:  -790px;
}
.pop{
  display: flex;
   margin-top: 300px;
  margin-left: 70px;
   font-size: 12px;
   color: brown;}
   .des{
   margin-top: 100px;

   }
   .img8{
      margin-left: 100px;
      margin-top: 100px;
   }
   .op{
      height: 400px;
     width: 3px;
     background-color: rgb(220, 94, 52);
     margin-left: 850px;
     margin-top: -430px;
    position: relative;
   }

.design li{
   list-style: none;
}
.design{
    color: brown;
 margin-top: -230PX;
 justify-content: center;
 margin-left: 830px;
   font-family: 'playfair display',sarif;
   font-weight: 100;
}
.cup{
   font-size: 40px; 
   opacity: 60%;
            transition: font-size 0.6s ease; 
            cursor: pointer;
         text-decoration: none; 
      color: brown;
   }
.cup:hover{
   font-size: 80px;
   opacity: 100%;
}
/*end of section 3*/
.popu{

  display: flex;
   margin-top: 100px;
  margin-left: 70px;
   font-size: 12px;
   color: brown;
}
.view2{
 display: flex;
   margin-top: -40px;
   margin-left: 1150px;
   color: brown;
}
.body{
   height: 390px;
   width: 600px;
   border-radius: 30px;
    background-color: rgb(244, 244, 215);
   margin-left: 80px;
}
.pollection{
   height:20px;
width:90px;
overflow:hidden;
background-color: brown;
color: rgb(252, 252, 252);
border-radius:  30px;
justify-content: center;
align-content: center;
margin-top: -360px;
margin-left: 107px;

}
.newcollection{
   height: 350px;
   width: 250px;
   background-color: rgb(255, 255, 255);
   border-radius:  30px;
   align-content: center;
   margin-left: 95px;
   margin-top: -390px;
   color: rgb(229, 38, 13);
}
.alert{
   margin-left: -20px;
 
}
.aler{
   margin-left: -20px;
   margin-top: 37px;
   color: rgb(229, 38, 13);
}
.po{
   margin-top: -80px;
}
.img9{
margin-left: 40px;
}
.materials{
  align-items: center;
   height: 130px;
   width:700px;
   background-color: rgb(244, 244, 215);
   margin-left:685px;
   margin-top: -413px;
   border-radius: 30px;
   color: brown;
}
.material{
   height:20px;
width:90px;
background-color: brown;
color: rgb(254, 254, 254);
border-radius:  30px;
align-content: center;
margin-top: -96px;
}
.date{
   margin-left: 550px;
   margin-top: -40px;
}
.transform{
  align-items: center;
   height: 130px;
   width:700px;
   background-color: rgb(244, 244, 215);
   margin-left:685px;
   margin-top: -13px;
   border-radius: 30px;
   color: brown;
}
.form{
   height:20px;
width:100px;
background-color: brown;
color: rgb(254, 254, 254);
border-radius:  30px;
align-content: center;
margin-top: -97px;


}
.dae{
   margin-left: 553px;
   margin-top: -40px;
}
.coll{
  align-items: center;
   height: 130px;
   width:700px;
   background-color: rgb(244, 244, 215);
   margin-left:685px;
   margin-top: -13px;
   border-radius: 30px;
   color: brown;
}
.for{
   height:20px;
width:120px;
background-color: brown;
color: rgb(254, 254, 254);
border-radius:  30px;
align-content: center;
margin-top: -97px;


}
.tea{
   margin-left: 553px;
   margin-top: -40px;
}
.yy{
   margin-left: 60px;
   color: brown;
}
.img10{
   margin-left: 90px;
}
.tree{
   height:200px;
   width: 300px;
   background-color: rgb(244, 244, 215);
   align-content: center;
   border-radius: 30px;
   margin-left: 710px;
   margin-top: -407px;
 
  
}
 .branch1{
   font-size: 12px;
 

 }
 .root1{
   font-size: 12px;
 }
 .tree1{
   height:200px;
   width: 300px;
   background-color: rgb(244, 244, 215);
   align-content: center;
   border-radius: 30px;
   margin-left: 1060px;
   margin-top: 07px;
 
  
}
 .branch2{
   font-size: 12px;
 

 }
 .root2{
   font-size: 12px;
 }
 .tree2{
   height:200px;
   width: 300px;
   background-color: rgb(244, 244, 215);
   align-content: center;
   border-radius: 30px;
   margin-left: 710px;
   margin-top: -10px;
 
  
}
 .branch3{
   font-size: 12px;
 

 }
 .root3{
   font-size: 12px;
 }
 .tree3{
   height:200px;
   width: 300px;
   background-color: rgb(244, 244, 215);
   align-content: center;
   border-radius: 30px;
   margin-left: 110px;
   margin-top: -7px;
 
  
}
 .branch4{
   font-size: 12px;
 

 }
 .root4{
   font-size: 12px;
 }
 .tree4{
   height:200px;
   width: 300px;
   background-color: rgb(244, 244, 215);
   align-content: center;
   border-radius: 30px;
   margin-left: 1070px;
   margin-top: -220px;
 
  
}
 .branch5{
   font-size: 12px;
 

 }
 .root5{
   font-size: 12px;
 }
 .tree5{
   height:200px;
   width: 300px;
   background-color: rgb(244, 244, 215);
   align-content: center;
   border-radius: 30px;
   margin-left: 720px;
   margin-top: 60px;
 
  
}
 .branch6{
   font-size: 12px;
 

 }
 .root6{
   font-size: 12px;
 }
 .img11{
   margin-top:-470px;
   margin-left: 420px;
 }